:root {
    --accent-color: #cc0000
}

body {
    width: min(50rem, 90%);
    min-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

.profile-pic {
    display: block;
    margin: auto;
    width: min(10rem, 40%);
    border-radius: 50%;
    border: 0.5rem solid var(--accent-color);
}

