<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>{{ block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	{{ block "description" . }}{{ with .Description}}<meta name="description" content="{{ . }}" />{{ end }}{{ end -}}
	
	{{- block "icon" . }}
        {{- with .Site.Params.profile_pic }}
            {{- with resources.Get . }}
                {{- with .Fill "16x16 TopRight webp" }}
                    <link rel="icon" href="{{- .RelPermalink }}">
                {{- end }}
            {{- end }}
        {{- end }}
	{{- end -}}

</head>

<body>
	{{- block "main" . }}{{ end }}
</body>

</html>
