<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>{{ block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	{{ block "description" . }}{{ with .Description}}<meta name="description" content="{{ . }}" />{{ end }}{{ end -}}
	
	{{- block "icon" . }}
        {{- with .Site.Params.profile_pic }}
            {{- with resources.Get . }}
                {{- with .Fill "16x16 TopRight webp" }}
                    <link rel="icon" href="{{- .RelPermalink }}">
                {{- end }}
            {{- end }}
        {{- end }}
	{{- end -}}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    {{- block "style" . }}
        {{- with resources.Get "css/main.css" }}
            <link rel="stylesheet" type="text/css" href="{{ .RelPermalink }}">
        {{- end }}
    {{- end -}}

</head>

<body>
    <header>
        Test Header Text
    </header>

    <main>
        {{- block "main" . }}{{ end }}
    </main>

    <footer>
        Test Footer Text
    </footer>
</body>

</html>
